DEVICE={{ ansible_default_ipv4.interface }}
NAME={{ ansible_default_ipv4.interface }}
IPADDR={{ ansible_default_ipv4.address }}
NETMASK={{ ansible_default_ipv4.netmask }}
NETWORK={{ ansible_default_ipv4.network }}
GATEWAY={{ ansible_default_ipv4.gateway }}
ONBOOT=yes
